[Unit]
Description=Go Wild DNS

[Service]
Environment=DOMAIN_SUFFIX=ip.suf.io
ExecStart=/root/go/bin/go-wild-dns
Restart=on-abort

[Install]
WantedBy=multi-user.target

