[Unit]
Description=Go Wild DNS


[Service]
; note, that DOMAIN_SUFFIX value *must* end with "."
Environment=DOMAIN_SUFFIX=ip.suf.io.
ExecStart=/root/go/bin/go-wild-dns
Restart=on-abort

[Install]
WantedBy=multi-user.target

